# -----------------------------
# Simulation & Verilog
# -----------------------------
*.vcd
*.vvp
*.out
sim/tb_*
!sim/tb_*.v
*.log
*.jou
*.pb

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# -----------------------------
# OS & IDE Settings
# -----------------------------
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db